<div class="mt-5 p-5">
    <div class="messages">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% if verifyEmailError is defined %}
        <div class="alert alert-secondary" role="alert">
            {{ verifyEmailError }}
        </div>
    {% endif %}

</div>